body{
	background-color: #e5e5e5
}

nav ul li.active{
	border-bottom: solid 2px #FFF; 
}

.tab a.active{
	border-bottom: solid 2px #FFF; 
}

.nav-header h1{
	text-shadow: 2px 2px 8px #000000
}